<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <!--使用可自定义的着色将日志消息写入控制台-->
        <target name="console" xsi:type="ColoredConsole" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] ${message}${onexception: | ${exception:format=message}}" />
        <!--此部分中的所有目标将自动异步-->
        <target name="file" xsi:type="AsyncWrapper">
            <!--项目日志保存文件路径说明fileName="${basedir}/保存目录，以年月日的格式创建/${shortdate}/${记录器名称}-${单级记录}.txt"-->
            <target name="log_file" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/${level}/${logger}.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}${newline}${onexception:***** ${level}\:${exception:format=message} *****${newline}${exception:format=toString}${exception:format=StackTrace}${newline}}" keepFileOpen="false" />
        </target>
    </targets>
    <!--规则配置,final - 最终规则匹配后不处理任何规则-->
    <rules>
        <logger name="*" writeTo="console" />
        <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
</nlog>